<div class="col-3 left_side_bar">
  <div class="mt-3">
    <ul class="cat_bar">
      <% @categories_list.roots.each do |category_type|%>
        <li class="cat_item">
          <%= link_to category_type.category, category_type %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
  <div>
    <p>Contact info</p>
  </div>
</div>